.logo {
    width: auto;
    height: 30px;
    /* margin: 16px 24px 16px 0; */
    float: left;
}

/* @media only screen and (max-width: 600px) {
    .logo {
        height: 20px;
        width: auto;
        margin: 15px 0 0 0;
    }   
}

#components-layout-demo-top .logo {
    width: 120px;
    height: 31px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px 24px 16px 0;
    float: left;
  } */